@font-face {
    font-family: "Brandon-bold";
    src: url("fonts/Brandon-bold.otf") format("otf");
}

@font-face {
    font-family: "Tisa-OT-regular";
    src: url("fonts/Tisa-OT-regular.otf") format("otf");
}